<?xml version="1.0"?>
<launch>
    <include file="$(find turtlebot_bringup)/minimal.launch" />
    <include file="$(find mobina_interface)/ros/launch/teleop.launch" />

    <include file="$(find mobina_interface)/ros/launch/upload_params.launch" />

    <node pkg="ipa_odroidx_interface" type="odroidx_interface.py" name="odroidx_interface" output="screen"/>
    <node pkg="mobina_interface" type="mobina.py" name="mobina" output="screen"/>

</launch>

