<?xml version="1.0"?>
<launch>
    <node pkg="mobina_interface" type="evjoy.py" name="evjoy" output="screen">
	<rosparam param="axes">['!ABS_Y','!ABS_Z',ABS_HAT0X]</rosparam>
	<rosparam param="buttons">[BTN_Z,BTN_TR]</rosparam>
    </node>

    <node pkg="cob_teleop" type="cob_teleop" name="teleop_node" ns="teleop" output="screen">
	<remap from="/cmd_vel_safety" to="/cmd_vel"/>
	<rosparam command="load" ns="/teleop" file="$(find mobina_interface)/ros/config/teleop.yaml"/>
    </node>
</launch>

