<?xml version="1.0"?>
<launch>

        <!-- send ROBOT parameters to parameter server -->
        <!--rosparam command="load" ns="/script_server/base" file="$(find mobina_interface)/ros/config/joint_configurations.yaml"/-->
        <rosparam command="load" ns="/script_server/tray" file="$(find mobina_interface)/ros/config/$(env ROBOT)/joint_configurations.yaml"/>

</launch>

