<?xml version="1.0"?>
<launch>

        <!-- send ROBOT parameters to parameter server -->
        <!--rosparam command="load" ns="/script_server/base" file="$(find mobina_interface)/ros/config/joint_configurations.yaml"/-->
	<rosparam command="load" ns="/script_server/base" file="$(find cob_rehacare)/ros/config/env/$(env ROBOT_ENV)/navigation_goals.yaml"/>
        <rosparam command="load" ns="/script_server/tray" file="$(find mobina_interface)/ros/config/$(env ROBOT)/joint_configurations.yaml"/>
        <rosparam command="load" ns="/script_server/light" file="$(find mobina_interface)/ros/config/light.yaml"/>

</launch>

