<?xml version="1.0"?>
<launch>

    <include file="$(find mobina_states)/ros/launch/MsWissenschaftParam.launch" />

    <node pkg="mobina_states" type="ms_wissenschaft.py" name="ms_wissenschaft" output="screen">
    </node>

    <node pkg="cob_fall_detection" type="check_fall.py" name="fall_detection" output="screen">
    </node>

</launch>

